* {
    box-sizing: border-box;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body {
    margin: 0 auto;
    background-color: rgb(236, 236, 233);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1em;
}

.logo-img{
    width: 100%;
    margin: 0;
    display: block;
}

#nav__long {display: inline-block !important;}

#nav__hamburger {display: none !important;}

.nav {
    text-align: right;

    &__item{
        display: inline-block;
        margin: 0 0.7em;
        font-size: 1.2em;

        &--active {
                color: rgb(243, 130, 124);    
        }
    }

    &__btn {
        text-decoration: none;
    color: black;

        &:hover {
            color: grey;
        }

    }
}


.container {
    margin: 0 auto;
    max-width: 1400px;
}



/* -------------------------------- */
/* -------- SECT 1 BANNER --------- */
/* -------------------------------- */

.banner{
    padding-top: 5%;

    &__img {
        width: 100%;
}
}

/* -------------------------------- */
/* ----- SECT 2 SERVICE CARDS ----- */
/* -------------------------------- */

.section-title {
    text-align: center;
    font-size: 2.3rem;
    padding: 4% 0;
}

.section-text {
    text-align: center;
    padding-bottom: 5%;
}

.flex-service {
    display: flex;
    justify-content: space-around;
}

%icons {
    width: 25%;
    padding: 0.5em;
    border: 2px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}

.service-card {
    display: flex;
    flex-direction: column;
    width: 21.5%;
    align-items: center;

    &__title{
        text-align: center;
    }

    &__text {
        text-align: center;
        padding-bottom: 1em;
        text-align: justify;
    }

    &__icon-yellow {
        @extend %icons;
        background-color:(#e3e177);
    }

    &__icon-purple {
        @extend %icons;
        background-color:(#d585ec);
    }

    &__icon-green {
        @extend %icons;
        background-color: (#97da7a);
    }

}

/* -------------------------------- */
/* ---------- SECT 3 GRID---------- */
/* -------------------------------- */

.grid {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 1.5em;
    justify-content: center;
    padding-top: 10%;
    margin: 0 auto;

    &__img{
        width: 100%;
        height: 100%;
    }

    &__item-1{
        grid-row: 2/4;
        grid-column: 1/4;
    }

    &__item-2{
        grid-row: 1/3;
        grid-column: 4/8;  
    }

    &__item-3 {
        grid-row: 3/4;
        grid-column: 4/6;   
    }

    &__item-4 {
        grid-row: 3/5;
        grid-column: 6/10;  
    }

    &__item-5{
        grid-row: 2/3;
        grid-column: 8/10;   
    }

    &__item-6{
        grid-row: 2/4;
        grid-column: 10/12;
    }
    
}

/* -------------------------------- */
/* ---------- SECT 4 GRAPH--------- */
/* -------------------------------- */

.graph{
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__title {
        text-align: center;
        padding-top: 5em;
        font-size: 2.3rem;
        padding-bottom: 1.5em;
    }

    &__img {
        padding-top: 12%;
    }

    &__right {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
    }

    &__text {
        width:80%;
        text-align: center;
        padding-bottom: 8%;
    }

    &__btn {
        text-decoration: none;
        color: black;
        background-color: rgb(243, 130, 124);
        padding: 12px;
    }
}

/* -------------------------------- */
/* ------ SECT 5 TEAM CARDS ------- */
/* -------------------------------- */

.team-section__container {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.team-card {
    display: flex;
    width: 20%;
    flex-direction: column;

    &__img {
        width: 50%;
        border-radius: 50%;
    }

    &__title{
        font-size: 1em;
        margin: 1em 0 0 0;
    }

    &__role {
        margin: 0;
    }

    &__text {
        text-align: justify;
    }
}

.img-center {
    display: inline-block;
    text-align: center;
}

/* -------------------------------- */
/* ---------- SECT 6 MAP ---------- */
/* -------------------------------- */

.map-section__iframe {
    padding-top: 5em;
    padding-bottom: 1.5em;
    width: 100%;
    position: absolute;
}

/* -------------------------------- */
/* ---------- SECT 6 FOM ---------- */
/* -------------------------------- */

.form {
    position: relative;
    margin-top: 15%;
    background-color: whitesmoke;
    padding: 2em;
    border-radius: 5%;
    width: 40%;
    border: solid 3px rgb(243, 130, 124);

    &__flex {
        display: flex;
        justify-content: flex-end;
    }

    &__input {
        padding: 0.5em;
        margin-top: 0.5em;
        margin-bottom: 0.8em;
        width: 90%;
    }

    &__span {
        padding-left: 0.8em;
    }

    &__btn {
        text-decoration: none;
        color: black;
        background-color:rgb(243, 130, 124);
        padding: 10px;
        font-family: "Poppins", sans-serif;
        border: none;
        border-radius: 5%;
    }
}

/* -------------------------------- */
/* ---------- FOOTER -------------- */
/* -------------------------------- */
.footer-img {
    display: flex;
    margin: 0 auto;
    padding: 5% 0 5% 0;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
}

.footer-nav__items {
    display: inline-block;
}

.footer__btn {
    text-decoration: none;
    color: black;

    &:hover {
        color: grey;
    }
}

.credits {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5% 0;
}

.credits__info {
    display: flex;
    align-items: center;
}

.credits__span{
    padding: 1em;
}



@media screen and (max-width: 1400px) {
    .container{
        margin: 0 auto;
        max-width: 1100px;
        margin-left: 4%;
        margin-right: 4%;
    }
}


@media screen and (max-width: 960px) {

    #nav__long {display: none !important;}

    #nav__hamburger {display: inline-block !important;}

    .cards {
        justify-content: space-around;
        padding-bottom: 1em;
        flex-wrap: wrap;
    }

    .team-card {
        width: 35%;
        padding-bottom: 1em;
    }

    .footer-nav {
        flex-wrap: wrap;
        width: 50%;
        justify-content: space-around;
      
      &__items {
        padding-bottom: 5%;
      }
    }

   .map-section__iframe{
        padding-bottom: 7.5em;
   }
    
}