@use 'mixins' as *;
@use 'colors' as *;
@use 'variables' as *;



//btn-mail
.flex-mail {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


.flex-letter {
    display: flex;
    align-items: center;
    width: 75%;

    &__input {
        border: 2px solid $bgcolor-cards;
        border-radius: 4px;
        padding: 2% 6% 1% 2%;
    }

    &__label {
        font-size: 1rem;
        font-weight: bold;
        width: 50%;
    }

    &__btn{
        @include buttons (1em, 0.9rem);
        margin-left: 3%;  
        &:hover {
            color: $hover-color;
        }  
    }
}

//btn soumission
.btn-soumission {
    @include buttons (1em, 1.1rem);
    
    &:hover {
        color: $hover-color;
    }
}

//Buttons 
.flex-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
}
