//General colors
$color-primary: #000000;
$color-secondary: #f3827c;
$bgcolor-primary: #ecece9;

//Cards 
$bg-cards: #fff;
$bgcolor-cards: #efede9;
$bgcolor-icon1:#e3e177;
$bgcolor-icon2: #97da7a;
$bgcolor-icon3:#d585ec;

//Form
$sucessColor : #09c372;
$errorColor: #ff3860;
$bg-form: whitesmoke;

//Hover
$hover-color: grey;