@use 'colors' as *;

//Footer
.footer-img {
    display: flex;
    margin: 0 auto;
    padding: 10% 0 5% 0;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;

    &__items {
        display: inline-block;
    }

    &__btn {
        text-decoration: none;
        color: $color-primary;
    
        &:hover {
            color: grey;
        }
    }
}

.credits {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5% 0;

    &__info {
        display: flex;
        align-items: center;
    }

    &__span{
        padding: 1em;
    }
}