@use 'colors' as *;

.form {
    position: relative;
    margin-top: 15%;
    padding: 2em;
    border: 2px solid $color-primary;
    border-right: 5px solid $color-primary;
    border-bottom: 5px solid $color-primary;
    border-radius: 8%;
    width: 40%;
    background-color: #a5a5df;

    &__flex {
        display: flex;
        justify-content: flex-end;
    }

    &__input {
        border: 2px solid #f0f0f0;
        border-radius: 4px;
        display: block;
        font-size: 12px;
        padding: 12px;
        width: 100%;
        margin-top: 4%;

        &:focus {
            outline: 0;
        }
    }

    .input-control {
   
        &input:focus{
            outline: 0;
       }
    
       &.success input {
        border-color: $sucessColor;
       }
    
       &.error input {
        border-color: $errorColor;
       }
    
       .errorMessage{
        color: $errorColor;
        font-size: 9px;
        height: 13px;
       }
    }

    &__span {
        padding-left: 0.5em;
        color: $errorColor;
    }

    &__btn {
        @include buttons (1.1em, 0.9rem);
        margin-top: 6%;
        width: 100%;
    }
}