@use 'colors' as *;
@use 'variables' as *;
@use 'extends' as *;

@mixin card($padding-card, $width) {
    @extend %cards;
    padding: $padding-card;
    width: $width;
    
}

@mixin buttons($padding-btn, $font-size) {
    @extend %button;
    padding: $padding-btn;
    font-size: $font-size;
}