@use 'colors' as *;
@use 'mixins' as *;
@use 'variables' as *;
@use 'extends' as *;


.section-title {
    text-align: center;
    font-size: 2.7rem;
    padding: 5% 0 2% 0;
}

.section-text {
    text-align: center;
    font-size: 7.5rem;

}

.flex-service {
    display: flex;
    justify-content: space-around;
}

.service-card {
    @include card (2em, 25%);

    &__title{
        padding-top: 3%;
    }

    &__text {
        text-align: center;
        text-align: left;
        font-size: 1.1rem;
    }

    &__icon-yellow {
        @extend %icons;
        background-color: $bgcolor-icon1;
    }

    &__icon-green {
        @extend %icons;
        background-color: $bgcolor-icon2 ;
    } 
    
    &__icon-purple {
        @extend %icons;
        background-color: $bgcolor-icon3;
    }

}
