//General
@use 'variables' as *;
@use 'colors' as *;
@use 'mixins' as *;
@use 'general' as *;
@use 'accessibility' as *;
@use 'buttons' as *;
@use 'media-queries' as *;


//Website sections
@use 'header' as *;
@use 'cards-section' as *;
@use 'grid' as *;
@use 'graph-section' as *;
@use 'team-cards' as *;
@use 'footer' as *;



//Carousel

.carousel{
    padding-top: 5%;

    &__img {
        width: 100%;
}
}

//map
.map-section__iframe {
    padding-top: 5em;
    padding-bottom: 1.5em;
    width: 100%;
    position: absolute;
}

//Form 
.form {
    position: relative;
    margin-top: 15%;
    background-color: whitesmoke;
    padding: 2em;
    border-radius: 5%;
    width: 40%;
    border: solid 3px $color-secondary;

    &__flex {
        display: flex;
        justify-content: flex-end;
    }

    &__input {
        border: 2px solid #f0f0f0;
        border-radius: 4px;
        display: block;
        font-size: 12px;
        padding: 12px;
        width: 100%;

        &:focus {
            outline: 0;
        }
    }

    &__input-control {
        display: flex;
        flex-direction: column;

        &--success .form__input {
            border-color: #09c372;
        }

        &--error .form__input {
            border-color: #ff3860;
        }

        .form__input--errorMessage {
            color: #ff3860;
            font-size: 9px;
            height: 13px;
        }
    }

    
    &__label {
        padding: 12px 0 8px 0;
    }

    

    &__span {
        padding-left: 0.5em;
        color: #ff3860;
    }

    &__btn {
        @include buttons (1.1em, 0.9rem);
    }
}

